* {
	box-sizing: border-box;
}

body {  
	background-color: #d3dfdf;
}

#img-div {
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eee;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

#img-div > img {
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 100%;
	height: auto;
	border-radius: 5px;
	box-shadow: 10px 10px #AED6F1;
}

#title {
	text-align: center;
	margin: 50px auto 10px;
	font-size: 3rem;
	width: 50%;
}

#tribute-info {
	text-align: justify;
	font-size: 1.1rem;
	padding: 10px 50px;
	max-width: 500px;
	width: 100%;
	margin: auto;
}

#img-caption {
	font-size: 1.5rem;
	text-align: center;
	border-bottom: 1px solid black;
	padding-bottom: 10px;
	width: 30%;
}